*{
    padding: 0;
    margin: 0;
    font-family: arial;
    color: #4d4e51;
}
h2{
    background-color: #eee;
    width: 100%;
    text-transform: capitalize;
}
label[for="gold"]{
    background-color: #eee;
    padding: 0.3rem;
    border-radius: 5px 0 0 5px;
    font-weight: bolder;
    font-size: 20px;
}
form p{
    margin: 1rem 0
}
button{
    padding: 0.25rem 0.5rem;
    background-color: #9aa0a7;
    border: none;
    border-radius: 5px;
    color: white;
}
span{
    background-color: #eee;
    padding: 0.5rem 1.5rem 0 1.5rem;
    font-weight: bolder;
    border-radius: 5px 5px 0 0;
}
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 0 5px 5px 0;
}
::-webkit-scrollbar-thumb {
    background: #9aa0a7; 
    border-radius: 10px;
}
#activities{
    background-color: white;
    overflow-y: auto;
    resize: none;
    height: 150px;
    display: block;
    box-sizing: border-box;
    border-radius: 0 5px 5px 5px;
    padding: 0 1rem;
    border: 1px solid #eee;
    text-align: left;
    width: 100%;
    line-height: 2;
}
#gold{
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.3rem;
    border: 1px solid #eee;
    width: 70px;
    font-size: 20px;
    text-align: right;
}
#wrapper{
    width: 60%;
    padding: 1.5rem;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
}
#balance,#locations{
    display: flex;
}
#balance,#activities-container{
    text-align: left;
    margin: 1.5rem 1rem;
}
#locations{
    justify-content: space-between
}
.location{
    padding: 0 0 0.75rem 0;
    border-radius: 5px;
    width: 170px;
    margin: 1rem;
    text-align: center;
    border: 1px solid #eee;
    overflow: hidden;
}
.green{
    color: rgb(27, 124, 77);
}
.red{
    color: rgb(243, 20, 68);
}