<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="wrapper">
        <div id="balance">
            <label for="gold">$</label>
            <input type="text" id="gold" value="{{session['gold']}}" readonly/>
        </div>
        <div id="locations">
            {% for location,(min,max) in gold_map.items() %}
            <form action="/{{location}}" class="location">
                <h2>{{location}}</h2>
                <p>Earns {{min}} to {{max}} gold!</p>
                <button {{'disabled' if session['gameover'] else ''}}>Find Gold!</button>
            </form>
            {% endfor %}
        </div>
        <div id="activities-container">
            <span>Activities</span>
            <div name="activities" id="activities">
                {% for activity in session["activities"]|reverse %}
                {{activity|safe}}
                {% endfor %}
            </div>
        </div>
        {% if session["gameover"] %}
        <button onclick="location.href='/reset'">Reset</button>
        {% endif %}
    </div>
</body>
</html>