<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="flask\fundamentals\checkerboard\static\css\style1.css">
    <title>easylife</title>
</head>
<body>

    <div class="2by2" style="display: flex;">
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
    </div>
    <div class="2by2" style="display: flex;">
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
    </div>
    <div class="2by2" style="display: flex;">
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
    </div>
    <div class="2by2" style="display: flex;">
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
    </div>

    <div class="3by3" style="display: flex;">
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
    </div>
    <div class="3by3" style="display: flex;">
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
    </div>
    <div class="3by3" style="display: flex;">
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
    </div>
    <div class="2by2" style="display: flex;">
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
    </div>
    <div class="2by2" style="display: flex;">
        <div class="oneSquare" style="background-color: red;width: 100px;height: 100px;"></div>
        <div class="oneSquare" style="background-color: black;width: 100px;height: 100px;"></div>
    </div>

</body>
</html>